.center {
  text-align:center;
}

.full-width {
	min-height: 500px;
	
	line-height: 100px;
}

.circle {
	width: 100%;
	height: 300px; // Do this in Javascript
	margin-bottom: 2em;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}